@charset "utf-8";
/* CSS Document */
/*
.menu{
	width:700px;
	right: 0px;
}
.menuc{
	width:80px;
}
.menuc:hover{
	width:80px;
}
.menucS{
	width:80px;
}*/
/*.menua{
	width:110px;
}
.menua:hover{
	width:110px;
}
.menuaS{
	width:110px;
}*/
.call{
	font-size:30px;	
}
