@import "../../variables";

[data-anchor="location"] {
  background: $grey4;
  padding-bottom: 0 !important;
}

.Location {
  min-height: 100%;
  position: relative;

  .mapContainer {
    height: calc(100vh);

    iframe {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  .Info {
    position: absolute;
    bottom: 0;
    width: 100%;

    @media (max-width: 1000px) {
      position: relative;
    }

    padding: 20px;
    background: rgba($grey, .7);
    border-top: 2px solid $orange;

    display: flex;
    justify-content: center;

    > div {
      $box-width: 300px;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax($box-width, 1fr));
      max-width: $max-width;
      width: 100%;

      > div {
        display: flex;
        justify-content: center;
        width: 100%;

        > div {
          width: $box-width;
        }
      }

      h2 {
        font-family: "Helvetica Neue", sans-serif;
        letter-spacing: 2px;
      }

      p, a {
        font-family: "Moon", sans-serif;
        letter-spacing: 1px;
        font-size: 17px;
        color: #000;
      }
    }
  }
}