@import "../../variables";

$bar-height: 70px;

.BottomBar {
  position: fixed;
  bottom: 0;
  color: #fff;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    max-width: $max-width;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      height: $bar-height;
    }
  }
}

.ContactButton {
  $button-height: 40px;
  $button-width: 240px;

  border-radius: 99999px;
  background: #000;
  display: flex;
  cursor: pointer;
  height: $button-height;
  width: $button-width;
  padding: 0 18px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all .2s ease-in-out;
  position: relative;

  &:hover {
    transform: scale(1.1);

    span {
      transform: translateX(-$button-width);
    }
  }

  span {
    font-family: "Moon", sans-serif;
    background: $black;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    line-height: $button-height - (20px / 2);
    letter-spacing: 1px;
    transition: all 1s ease-in-out;
    transition-delay: .1s;
    border-radius: 999999px;
  }

  > *:not(span) {
    margin: 0 15px;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }
}