@import "../../variables";

.Button {
  border-radius: 99999px;
  padding: 10px 15px;
  margin: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bariol", sans-serif;
  cursor: pointer;

  &.small {
    padding: 7px 10px;
  }

  &.colour-1 {
    background: $yellow;
  }
  &.colour-2 {
    background: $blue;
  }
  &.colour-3 {
    background: $orange;
  }
  &.colour-4 {
    background: $green;
  }
  &.colour-5 {
    background: $grey4;
  }
  &.colour-6 {
    background: #fff;
    color: $orange;
  }
}