@import "../../variables";

.Menu {
  display: flex;
  justify-content: center;

  nav {
    background: $black;
    max-width: $max-width;
    width: 100%;
    padding: 0 50px;
    border-radius: 0 0 50px 50px;

    display: flex;
    justify-content: right;

    .img {
      margin-right: auto;
      img {
        object-fit: contain;
      }
    }

    div {
      flex-grow: 0;
      padding: 20px;
      text-align: center;
      position: relative;

      a {
        font-size: 17px;
        text-transform: uppercase;
        font-family: "Adam CG Pro", sans-serif;
        font-weight: bold;
        margin: 0 auto;
        padding: 0 10px;
      }

      &:hover {
        div {
          display: flex;
        }
      }

      div {
        position: absolute;
        background: $green;
        border-radius: 10px;
        display: none;
        flex-direction: column;
        padding: 10px;
        margin-top: 30px;
        margin-left: -50%;
        z-index: 9999;

        &:hover {
          display: flex;
        }

        &::before {
          top: -20px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 25px 20px 25px;
          border-color: transparent transparent $green transparent;
        }

        a {
          border-bottom: 1px solid #66e0b0;
          width: 100%;
          text-align: left;
          margin: 5px 0;
        }
      }
    }
  }
}