@import "../../variables";

.Menu {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 9999999;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: $max-width;

  nav {
    background: $grey4;
    max-width: $max-width;
    width: 100%;
    padding: 0 50px;
    border-radius: 0 0 50px 50px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: right;

    .img {
      margin-right: auto;
      img {
        object-fit: contain;
      }
    }

    > div {
      text-align: center;
      display: flex;
      align-items: center;
      position: relative;

      &:not(.cart) {
        flex-grow: 0;
        padding: 10px;
        a, span {
          font-size: 20px;
          font-family: Bariol, sans-serif;
          font-weight: bold;
          margin: 0 auto;
          color: #fff;
        }

        &:hover {
          div {
            display: flex;
          }
        }

        div {
          position: absolute;
          background: $green;
          border-radius: 10px;
          display: none;
          flex-direction: column;
          padding: 10px;
          margin-top: 30px;
          z-index: 9999;
          left: 50%;
          transform: translateX(-50%);
          min-width: 200px;

          &:hover {
            display: flex;
          }

          &::before {
            top: -20px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 25px 20px 25px;
            border-color: transparent transparent $green transparent;
          }

          a {
            border-bottom: 1px solid #66e0b0;
            width: 100%;
            text-align: center;
            margin: 5px 0;
          }
        }
      }
    }
  }
}