@import "_variables";

@page {
  margin: 0;
  size: auto;
}

@font-face {
  font-family: "Bariol";
  src: url("Bariol_Regular.otf") format("opentype");
}

@font-face {
  font-family: "Neutra";
  src: url("NeutraDisplay-Titling.otf") format("opentype");
}

* {
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Bariol", sans-serif;
}

h1, h2 {
  font-family: "Neutra", sans-serif;
  color: $orange;
  text-transform: uppercase;
  margin: 0;
}

header {
  background: $black;
  display: table;
  width: 100%;
  padding: 10px 20px 20px;
  border-radius: 0 0 50px 50px;

  img {
    object-fit: contain;
    display: table-cell;
  }

  h1 {
    display: table-cell;
    text-align: right;
    color: #fff;
    margin: 0;
    vertical-align: middle;
  }
}

section {
  padding: 10px;

  .info {
    margin: 10px 0;
    width: 100%;

    > span {
      box-sizing: border-box;
      padding: 10px;
      float: left;
      width: 25%;
      &:nth-of-type(2n+1) {
        text-decoration: underline;
      }
    }

    &::after {
      content: " ";
      display: block;
      clear: both;
    }
  }

  img {
    width: 100px;
  }
}