@import "../../variables";

.SellInner {
  background: #fff;
  background: linear-gradient(90deg, #fff 0%, #fff 50%, $green 50%, $green 100%);
  display: flex;
  align-items: center;

  div.inner {
    max-width: $max-width;
    flex: 1;
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: 100%;
    justify-content: center;

    h1 {
      color: $green;
      font-size: 35px;
      margin-bottom: 5px;
    }

    h2 {
      color: $grey4;
      font-family: "Bariol", sans-serif;
      text-transform: none;
      font-size: 30px;
      margin-top: 5px;
    }

    p {
      font-size: 20px;
    }

    hr {
      border-top: 3px solid $green;
    }

    .left {
      padding: 60px 15px 100px 50px;
      width: 60%;
      background: #fff;
      overflow-y: auto;
      position: relative;

      .SellForm {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

        p {
          color: $grey4;
          font-weight: bold;
          margin: 0;
          padding: 0 10px;
        }

        .textarea {
          grid-row: span 3;
        }

        .select {
          .inner {
            position: relative;

            &:after {
              position: absolute;
              color: $orange;
              font-size: 25px;
              padding: 0 5px;
              right: 0px;
              top: 50%;
              transform: translateY(-50%);
              content: "\f107";
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              pointer-events: none;
              background: #fff;
              height: calc(100% - 2px);
              line-height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
              border-right: 1px solid $grey4;
              border-top: 1px solid $grey4;
              border-bottom: 1px solid $grey4;
            }
          }
        }
      }
    }

    .right {
      padding-right: 10px;
      padding-left: 10px;
      width: 40%;
      background: $green;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        color: #fff;
        font-size: 23px;

      h2 {
        color: #fff;
      }

      ul {
        padding-left: 0;
        text-align: left;

        li {
          margin: 2px 0;
        }
      }

      .price {
        span {
          display: block;

          &.price {
          font-size: 50px;
          font-family: "Neutra", sans-serif;
          }

          &.disclaimer {
            font-size: 17px;
          }
        }
      }
    }
  }
}

.Footer {
  padding-top: 60px;
}