@import "../../variables";

.iPhoneSelection {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  margin: 20px 0;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;

  @mixin text-box {
    padding: 15px;
    background: $grey2;
    color: #131313;
    font-size: 20px;
    font-family: "Bariol", sans-serif;
    border-radius: 15px;
  }

  &.stage-1 {
    .Select {
      .repairType {
        visibility: hidden;
      }
    }
    .Info {
      visibility: hidden;
    }
  }

  &.stage-2 {
    .Info {
      visibility: hidden;
    }
  }

  .Select {
    display: grid;
    grid-auto-flow: column;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-auto-rows: 1fr;

    .model {
      &:nth-of-type(2n+1) {
        grid-column: 1;
        background: $grey3;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:nth-of-type(2n) {
        grid-column: 2;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .repairType {
      grid-column: 3;
      margin: 0 0 0 20px;
      text-transform: uppercase;

      &.open {
        grid-row-end: span 3;

        .top img {
          transform: rotate(180deg);
        }
      }
    }

    .model, .repairType {
      @include text-box;

      &.selected {
        background: $blue-gradient;
      }

      .top {
        display: flex;
        span {
          flex: 1;
        }

        img {
          width: 13px;
        }
      }
    }
  }

  .Info > div {
    background: #fff;
    padding: 25px 25px 5px;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    h2 {
      color: $blue;
      margin-bottom: 0;
    }

    .info {
      display: flex;
      width: 100%;
      align-items: center;

      ul {
        flex: 1;
        list-style: none;

        li {
          position: relative;
          margin: 10px 0;
          font-size: 20px;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 100%;
            border: 1px solid $green;
          }
        }
      }

      .price {
        $size: 60px;

        background: $blue;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        font-family: "Adam CG Pro", sans-serif;
        border-radius: 100%;
        height: $size;
        width: $size;
        text-align: center;
        line-height: $size;
      }
    }

    .Button {
      width: 100%;
    }
  }
}