@import "../../../variables";

.Filter {
  display: flex;
  justify-content: flex-start;

  > div {
    padding: 10px 50px;
    margin: 0 10px;
    border-radius: 999px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: "Moon", sans-serif;
    cursor: pointer;

    &.colour-1 {
      background: $yellow;
    }
    &.colour-2 {
      background: $blue;
    }
    &.colour-3 {
      background: $orange;
    }
    &.colour-4 {
      background: $green;
    }
  &.colour-5 {
    background: $grey4;
  }
  }
}