@import "../../../variables";

.Filter {
  display: flex;
  justify-content: flex-start;

  > div {
    padding: 10px 50px;
    margin: 0 10px;
    border-radius: 999px;
    color: #fff;
    font-weight: bold;

    &.colour-1 {
      background: $yellow;
    }
    &.colour-2 {
      background: $blue;
    }
    &.colour-3 {
      background: $orange;
    }
    &colour-4 {
      background: $green;
    }
  }
}