@import "../../../variables";

.Filter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, min-content));
  justify-content: flex-start;
  grid-gap: 20px;
  padding: 20px 0;

  > div {
    padding: 10px 50px;
    border-radius: 999px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: "Moon", sans-serif;
    cursor: pointer;
    text-align: center;

    &:first-of-type {
      margin-left: 0;
    }

    &.colour-1 {
      background: $yellow;
    }
    &.colour-2 {
      background: $blue;
    }
    &.colour-3 {
      background: $orange;
    }
    &.colour-4 {
      background: $green;
    }
  &.colour-5 {
    background: $grey4;
  }
  }
}