@import "../../../variables";

[data-anchor="top"] {
  background: url("../img/top-bg1.jpg") 70% 70%;
  background-size: cover;
}

header.Top {
  height: 100%;

  display: flex;
  flex-flow: column;
}

.TopContent {
  display: flex;
  max-width: $max-width;
  margin: 10px auto;
  align-items: center;
  flex: 1 1 0;
  min-height: 0;
  
  @media (max-width: 1000px) {
    flex-direction: column;

    .TopRight {
      max-width: 300px;
      order: 1;
    }

    .TopLeft {
      order: 2;
    }
  }
}

.TopLeft {
  margin-left: 10px;
  flex: 2;

  h1, h2 {
    margin: 0;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, .43);
  }

  h2 {
    font-size: 30px;
  }

  p {
    color: #fff;
    font-size: 25px;
    width: 90%;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 90%;
    justify-content: space-between;
  }
}

.TopRight {
  flex: 1;
}

.TopSlider {
  height: 100%;

  .TopSlidesInner {
    position: relative;
    display: flex;
    max-height: 100%;
    width: 100%;
    .SliderImg {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      z-index: 999;
      pointer-events: none;

      img {
        display: block;
        width: 100%;
        object-fit: contain;
      }
    }

    .TopSlides {
      position: absolute;

      left: 50%;
      transform: translateX(-50%);
      bottom: 5%;
      top: 1%;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;

      .TopSlide {
        display: flex;
        flex-direction: column;
        height: 100%;

        position: absolute;
        top: 0;
        bottom: 0;
        transition: left .5s, right .5s;
        opacity: 0;

        &.active {
          right: 0;
          left: 0;
          z-index: 99;
          opacity: 1;
        }

        &.nextActive {
          right: -100%;
          left: 100%;
          z-index: 98;
          opacity: 1;
        }

        &.prevActive {
          right: 100%;
          left: -100%;
          z-index: 97;
          opacity: 1;
        }

        .TopImg {
          flex: 1;
          position: relative;

          img:first-of-type {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          img:last-of-type {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            width: 70%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 999;
          }

          .Slide-Indicators {
            position: absolute;
            bottom: 7%;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-evenly;

            .Indicator {
              width: 10px;
              height: 10px;
              background: $black;
              border-radius: 10px;

              &.active {
                background: $orange;
              }
            }
          }
        }

        h2 {
          text-align: center;
          font-size: 28px;
          margin: 15px 15px 0;
          font-family: "Adam CG Pro", sans-serif;

          &.colour-1 {
            color: $yellow;
          }
          &.colour-2 {
            color: $blue;
          }
          &.colour-3 {
            color: $orange;
          }
          &.colour-4 {
            color: $green;
          }
        }

        p {
          text-align: center;
          flex-basis: auto;
          font-size: 20px;
          margin: 15px;
        }

        .Button {
          margin: 0 15px 20px;
        }
      }
    }
  }
}