@import "../../variables";

.BuyAndSell {
  background: #fff;
  padding-top: 60px;

  section {
    width: 85%;
    margin: 0 auto;

    h1 {
      margin: 20px 0;
      text-align: center;
    }
  }
}