@import "../../variables";

.BuyAndSell {
  background: #fff;
  padding-top: 60px;

  section {
    width: 85%;
    max-width: $max-width;
    margin: 0 auto;
    height: 100%;
    padding: 20px 0;

    h1 {
      margin: 20px 0;
      text-align: center;
    }
  }
}