@import "../../../variables";

.Appointment {
  width: 100%;
  margin-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;

  .Info > div {
    padding: 0;
  }
}

.Calendar {
  border-radius: 50px;
  background: $grey;
  padding: 25px;
  flex: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .Info {
    flex-basis: 25%;
  }
}

.Day {
  .Month {
    display: flex;
    justify-content: space-around;

    i, h3 {
      background: $orange;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0);
      font-size: 23px;
      margin: 5px;
    }

    h3 {
      display: inline-block;
      font-family: "Neutra", sans-serif;
    }
  }

  .Days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    margin: 5px;

    > div {
      text-transform: uppercase;
      text-align: center;
      font-family: "Moon", sans-serif;
      letter-spacing: 3px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 0;
        padding-bottom: 70%;
      }

      &.name {
        font-family: "Neutra", sans-serif;
        letter-spacing: 0;
      }

      &.day-0 {
        grid-column: 7;
      }
      &.day-1 {
        grid-column: 1;
      }
      &.day-2 {
        grid-column: 2;
      }
      &.day-3 {
        grid-column: 3;
      }
      &.day-4 {
        grid-column: 4;
      }
      &.day-5 {
        grid-column: 5;
      }
      &.day-6 {
        grid-column: 6;
      }

      &.booked {
        color: $grey3;
      }

      transition: background .2s ease-in-out;
      &.selected:not(.name):not(.booked), &:not(.name):not(.booked):hover {
        background: $blue;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.Time {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  > div {
    flex: 1;
    background: $grey2;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    margin: 2px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    &.booked {
      background: $black;
      color: $grey2;
    }

    transition: all .2s ease-in-out;
    &.selected, &:not(.booked):hover {
      background: $blue;
      color: #fff;
      cursor: pointer;
    }
  }
}

.AppointmentForm {
  border-radius: 50px;
  background: $grey;
  padding: 25px;

  h2 {
    text-align: center;
  }

  .AppointmentFormInner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    .input {
      grid-column: 1 / 5;
    }

    .Button {
      grid-column: 2 / 4;
    }
  }
}

.AppointmentFinal {
  h2 {
    text-align: center;
    margin-bottom: 0;
  }
  .Info .Info {
    padding: 25px !important;
  }
}