django
django-solo
gunicorn
mysqlclient
django-phonenumber-field
graphene-django>=2.0
django-cors-headers
pdfkit
qrcode
Pillow
requests
django-admin-shortcuts
django-ordered-model
django-admin-sortable2
django-ckeditor
