@import "../../../variables";

[data-anchor="why-us"] {
  background: $grey;
}

.WhyUs {
  padding: 50px;
  min-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    max-width: $max-width;

    font-size: 25px;

    h1 {
      font-family: "Bariol", sans-serif;
      text-transform: none;
    }
  }
}