@import "variables";

@font-face {
  font-family: "Adam CG Pro";
  src: url("/ADAM.CG PRO.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/HelveticaNeueLTCom.ttf") format("truetype");
}

@font-face {
  font-family: "Bariol";
  src: url("/Bariol_Regular.otf") format("opentype");
}

@font-face {
  font-family: "Neutra";
  src: url("/NeutraDisplay-Titling.otf") format("opentype");
}

@font-face {
  font-family: "Moon";
  src: url("/Moon2.0-Regular.otf") format("opentype");
}

body {
  font-family: "Bariol", sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

h1, h2 {
  text-transform: uppercase;
  color: $orange;
  font-family: "Neutra", sans-serif;
}

h1.large {
  font-size: 55px;
}

a {
  color: #fff;
  text-decoration: none;
}

#fp-nav {
  a span {
    transition: .3s background;
  }
  a.active span {
      background: $orange;
  }

  .fp-tooltip {
    background: #333;
    padding: 3px;
    border-radius: 5px;
  }
}