// Colours

$grey: #e5e5e5;
$grey2: #c6ccd3;
$grey3: #a4adb7;
$black: #434343;
$blue: #54a1e7;
$orange: #ff563e;
$green: #00cc7b;
$yellow: #fa9952;

$blue-gradient: linear-gradient(90deg, #569fe7, #38c3e4);
$yellow-gradient: linear-gradient(90deg, #fa9952, #f9b958);