.CartIndicator {
  padding: 0 20px;
  position: relative;

  i {
    font-size: 50px;
  }

  .num {
    $size: 18px;

    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
    border-radius: 50%;
    font-size: $size;
    font-weight: bold;
    width: $size+2px;
    height: $size+2px;
    text-align: center;
    transform: translateY(-75%) translateX(-25%);
  }
}