.CartIndicator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  i {
    font-size: 50px;
  }

  img {
    height: 50px;
    width: 50px;
  }

  .num {
    $size: 12px;

    position: absolute;
    top: 36.5%;
    left: 53%;
    font-size: $size;
    font-weight: bold;
    text-align: center;
    //transform: translateY(-75%) translateX(-25%);
  }
}